body {
    font-family: Helvetica, sans-serif;
    color: #D1DEDE;
    background: #011C27;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 400px;
    border-radius: 50px;
    background: #3c7a8958;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #D1DEDE;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 5em;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
    width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

p strong {
    font-size: 1.3em;
}

img.about {
    opacity: 0.5;
    border-radius: 50%;
}